<a href="https://colab.research.google.com/github/Akshat-0001/Basics-of-Python-Part-2/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#--------------------------------
# 1.1: While Loop (print 1 to 15) 
#--------------------------------
i = 1 #initialize
while i <= 15: #condition
    print (i) #display
    i = i + 1 # loop

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
#--------------------------------
# 1.2: While Loop (print 15 to 1)
#--------------------------------
i = 15 # initialize
while i > 0: #condition
    print (i) #display
    i = i - 1 #loop

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#---------------------
# 2.3: Range Function
#---------------------
print ("range(10)        -->", list(range(5)))
print ("range(0,20)      -->", list(range(0,5)))
print ("range(10,20)     -->", list(range(5,10)))
print ("range(0,20,2)    -->", list(range(0,15,2))) # list shown from 0 to 14 with difference of 2
print ("range(-10,-20,-2)-->", list(range(-10,-20,-3))) #list shown from -10 to -18 with difference of -3

range(10)        --> [0, 1, 2, 3, 4]
range(0,20)      --> [0, 1, 2, 3, 4]
range(10,20)     --> [5, 6, 7, 8, 9]
range(0,20,2)    --> [0, 2, 4, 6, 8, 10, 12, 14]
range(-10,-20,-2)--> [-10, -13, -16, -19]

In [ ]:
#---------------------------------------------------
# 3.2: For loop (print 4 to 30 with increment of 2)
#---------------------------------------------------
for i in range(4,31,2):
    print (i)

4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
#-------------------------------
# 3.4: For loop (print 0 to -5)
#-------------------------------
for i in range(0,-5,-1):
    print (i)

0
-1
-2
-3
-4

In [ ]:
#------------------------
# 3.5: Print table of 3
#------------------------
for i in range(1,11):
    print (3,"*", i , "=", i * 3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
#----------------------------------
# 3.6: Sum all numbers from 1 to 5
#----------------------------------
s = 0
for i in range(1,6):
    s = s + i
print ("Sum is --> ",s)

Sum is -->  15

In [ ]:
#-----------------------------------
# 3.7: Sum all numbers from 1 to 7
#-----------------------------------
print ("Sum is --> ", sum(range(1,8)))

Sum is -->  28

In [ ]:
#-------------------------
# 5.1: Adding two numbers
#-------------------------
def Add(a,b):
    c = a + b
    return c

print ("Add(5,7) -->", Add(5,7))
print ("Add(16,24) -->", Add(16,24)) 
print ("Add(36,33)-->", Add(36,33))

Add(5,7) --> 12
Add(16,24) --> 40
Add(36,33)--> 69

In [ ]:
#------------------------
# 5.4: Default Parameter
#------------------------
def Add(a, b, d = 69):
    c = a + b + d
    return c

print ("Add(15,17)   -->", Add(15,17))
print ("Add(15,20,13)-->", Add(15,20,13))

Add(15,17)   --> 101
Add(15,20,13)--> 48

In [ ]:
#-----------------
# 6: Math library
#-----------------

import math as m
print ("exp(-100)    -->", m.exp(-100))  # Exponential function
print ("log(50,2)   -->", m.log(50,2)) # Log
print ("log(20,10)  -->", m.log(20,10))# Log
print ("log10(1000)   -->", m.log10(1000)) # Log 10
print ("m.cos(60)    -->", m.cos(60))    # cos
print ("m.sin(60)    -->", m.sin(60))    # sin
print ("m.tan(60)    -->", m.tan(60))    # tan
print ("m.sqrt(64)  -->", m.sqrt(64))
print ("m.ceil(96.9) -->", m.ceil(96.9))
print ("m.floor(25.9)-->", m.floor(25.9))

exp(-100)    --> 3.720075976020836e-44
log(50,2)   --> 5.643856189774724
log(20,10)  --> 1.301029995663981
log10(1000)   --> 3.0
m.cos(60)    --> -0.9524129804151563
m.sin(60)    --> -0.3048106211022167
m.tan(60)    --> 0.320040389379563
m.sqrt(64)  --> 8.0
m.ceil(96.9) --> 97
m.floor(25.9)--> 25

In [ ]:
#-------------------------
# 7.1: String Declaration
#-------------------------
var1 = 'Hello Python, Im under the water!!'
var2 = "Hello Python, Im out of the water!!"
print ("var1 -->", var1)
print ("var2 -->",var2)

var1 --> Hello Python, Im under the water!!
var2 --> Hello Python, Im out of the water!!

In [ ]:
#-------------------------------------------------------
# 7.2: Difference between single quote and double quote
#-------------------------------------------------------
var1 = 'Hey "Cobra"'
var2 = "Hey 'Cobra'"
print ("var1 -->", var1)
print ("var2 -->",var2)

var1 --> Hey "Cobra"
var2 --> Hey 'Cobra'

In [ ]:
#-------------------------
# 7.3.1: Indexing in string
#-------------------------
var1 = "1234567"
print("var1       -->", var1)
print("var1[1:3]  -->", var1[1:3])
print("var1[2:]   -->", var1[2:])
print("var1[2:5]  -->", var1[2:5])
print("var1[:2]   -->", var1[:2])
print("var1[:-1]  -->", var1[:-1])
print("var1[-4:-1]-->", var1[-4:-1])

var1       --> 1234567
var1[1:3]  --> 23
var1[2:]   --> 34567
var1[2:5]  --> 345
var1[:2]   --> 12
var1[:-1]  --> 123456
var1[-4:-1]--> 456

In [ ]:
#-------------------------
# 7.3.2: Indexing in string
#-------------------------
var1 = "1256789"
print("var1      -->", var1)
print("var1[::1] -->", var1[::1])        # No change
print("var1[::-1]-->", var1[::-1])       # Reverse
print("var1[::-2]-->", var1[::-2])
print("var1[::2] -->", var1[::2])

var1      --> 1256789
var1[::1] --> 1256789
var1[::-1]--> 9876521
var1[::-2]--> 9751
var1[::2] --> 1579

In [ ]:
#----------------------------------
# 7.4: String length, upper, lower
#----------------------------------
var1 = "I love anime"

print ("var1           --> ", var1)
print ("\nlength of var1 --> ", len(var1))

print ("\nUpper of var1  --> ", var1.upper())     # No change in the var1 variable
print ("var1           --> ", var1)

print ("\nLower of var1  --> ", var1.lower())
print ("var1           --> ", var1)

var1           -->  I love anime

length of var1 -->  12

Upper of var1  -->  I LOVE ANIME
var1           -->  I love anime

Lower of var1  -->  i love anime
var1           -->  I love anime

In [ ]:
#-------------------------
# 7.6: String formatting
#-------------------------
name  = "Akshat"    #=input("Enter your name: ")"
age   = 18           #=int(input("Enter your age: "))
price = 99999         #=float(input("Enter the book price: "))
s = "Your name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (s)

Your name is AKSHAT, age is 18 and book price is 99999.000000

In [ ]:
#---------------------------------------------------------------------------------
# 7.8: String strip - Remove white Spaces (space, new line, tab) from either side
#---------------------------------------------------------------------------------
s1 = " omae wa mou shindeiru "
s2 = " omae     wa     mou     shindeiru"
s3 = "omae,wa,mou,shindeiru"

print ("s1       --> ", s1, "\t\t   Length --> ", len(s1))
print ("s1 strip --> ", s1.strip(), "\t\t   Length --> ", len(s1.strip()))
 
print ("\ns2       --> ", s2, "\t   Length --> ", len(s2))
print ("s2 strip --> ", s2.strip(), "\t\t   Length --> ", len(s2.strip()))

print ("\ns3       --> ", s3, "\t   Length --> ", len(s3))
print ("s3 strip --> ", s3.strip(), "\t   Length --> ", len(s3.strip()))

s1       -->   omae wa mou shindeiru  		   Length -->  23
s1 strip -->  omae wa mou shindeiru 		   Length -->  21

s2       -->   omae     wa     mou     shindeiru 	   Length -->  34
s2 strip -->  omae     wa     mou     shindeiru 		   Length -->  33

s3       -->  omae,wa,mou,shindeiru 	   Length -->  21
s3 strip -->  omae,wa,mou,shindeiru 	   Length -->  21

In [ ]:
#------------------------
# 7.11: Reverse a String
#------------------------
s1 = "Akshat Shukla"
print ("s1               -->", s1)
print ("s1[::1]          -->", s1[::1])
print ("s1[::-1]         -->", s1[::-1])
print ("s1[::-2]         -->", s1[::-2])
print ("s1[::2]          -->", s1[::2])

s1 = s1[::-1]
print ("s1 after reverse -->", s1)

s1               --> Akshat Shukla
s1[::1]          --> Akshat Shukla
s1[::-1]         --> alkuhS tahskA
s1[::-2]         --> akh asA
s1[::2]          --> Asa hka
s1 after reverse --> alkuhS tahskA

In [ ]:
#------------------
# 7.12: Palindrome
#-----------------
s1 = "Anime Cringe"
s2 = "Japanese"
s3 = "Senpai"
s4 = "Kun"
print ("s1 -->", s1 == s1[::-1])
print ("s2 -->", s2 == s2[::-1])
print ("s3 -->", s3 == s3[::-1])
print ("s4 -->", s4 == s4[::-1])

s1 --> False
s2 --> False
s3 --> False
s4 --> False

In [ ]:
#----------------------------------------------
#Assingment 3.1.1: WAP to print the table of 7.
#----------------------------------------------
for i in range(1,11):
    print (7,"*", i , "=", i * 7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
#----------------------------------------------
#Assingment 3.1.2: WAP to print the table of 7.
#----------------------------------------------
for i in range(1,11):
    print (9,"*", i , "=", i * 9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
#--------------------------------------------------------------------
#Assingment 3.2: WAP to print the table of n and n is given by user.
#--------------------------------------------------------------------
n=int(input("Enter the number you want to print the table for:"))
for i in range(1,11):
    print(n,"*", i ,"=", n * i)

Enter the number you want to print the table for:69
69 * 1 = 69
69 * 2 = 138
69 * 3 = 207
69 * 4 = 276
69 * 5 = 345
69 * 6 = 414
69 * 7 = 483
69 * 8 = 552
69 * 9 = 621
69 * 10 = 690

In [ ]:
#------------------------------------------------------------------------------
#Assingment 3.3: WAP to add all the numbers from 1 to n and n is given by user.
#------------------------------------------------------------------------------

n=int(input("Enter the number you want add from 1:"))
print ("Sum is --> ", sum(range(1,n)))

Enter the number you want add from 1:69
Sum is -->  2346

In [58]:
#-----------------------------------------------------------------------------------------
#Assingment 5.1: WAP using function that add all odd numbers from 1 to n; n given by user.
#-----------------------------------------------------------------------------------------

n = int(input("Enter the number : "))
sum = 0;

for i in range(1, n + 1):

    #Check for odd or not.
    if(not (i % 2) == 0):
        sum += i;

print("\nSum of odd numbers from 1 to", n, "is :", sum)

Enter the number : 15

Sum of odd numbers from 1 to 15 is : 64

In [59]:
#-----------------------------------------------------------------------------------------
#Assingment 5.2: WAP using function that add all even numbers from 1 to n; n given by user.
#-----------------------------------------------------------------------------------------

n = int(input("Enter the number: "))

total = 0

for i in range(1, n + 1):

    # Check for even or not.
    if((i % 2) == 0):
        total = total + i

print("Sum of even numbers from 1 to", n, "is :", total)

Enter the number: 15
Sum of even numbers from 1 to 15 is : 56

In [60]:
#-----------------------------------------------------------------------------------------
#Assingment 5.3: WAP using function that add all prime numbers from 1 to n; n given by user.
#-----------------------------------------------------------------------------------------

n = int(input("Enter the number:"))
sum = 0

for num in range(2, n + 1):

    i = 2
    for i in range(2, num):
        if (int(num % i) == 0):
            i = num
            break;
            
    if i is not num:
        sum = sum + num
print("The sum of prime numbers from 1 to ", n, " is :", sum)

Enter the number:30
The sum of prime numbers from 1 to  30  is : 127